<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Harum soluta laboriosam libero, dolores 
                illo qui odio consequuntur facilis numquam expedita.
                 Commodi minima labore porro voluptatem laborum, vero repellat 
                 nobis nostrum!
                Non reprehenderit nobis pariatur facilis molestiae explicabo hic rem 
                deserunt, facere quo eaque doloremque unde provident nemo labore! 
                Molestiae ipsam nemo similique odit modi incidunt praesentium magnam nulla consectetur blanditiis.</p>
        </div>
    </div>
</div>



    <!--Grid row-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <form>
                    <div class="mb-2">
                        <label for="name" class="">Your name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Url photo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Mobile</label>
                        <input type="phone" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Company</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Title</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <label for="name" class="">Select a group</label>
                        <select class="form-control">
                            <option value="">group</option>
                            <option value="">solo</option>
                            <option value="">mixte</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-danger">Valider</button>
                        <a routerLink="/" class="btn btn-dark"><i class="fa fa-arrow-circle-left"></i> Accueil</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
                <br><br>
                <img src="https://i.postimg.cc/k5dhx1sh/geek-4.jpg" alt="" class="contact-image">
            </div>
        </div>
    </div>    

       



